html.portfolio {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.portfolio body {
  // background-color: #ffc600;
  background-color: #115173;
  background-image: url(bg.svg);
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inconsolata', monospace;
  color: #022c43;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.block {
  background: #fff;
  padding: 30px;
  padding-top: 0;
  margin: 0 auto;
  border: 1px solid transparent;
  border-bottom: 10px dotted #115173;
}

.portfolio--header {
  position: relative;
  height: 22rem;
  border-bottom: none;
}

.triangle--left {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 10rem;
  left: -0.1rem;
  border-width: 100px 0 100px 200px;
  border-color: transparent transparent transparent #115173;
}

.triangle--right {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0rem;
  right: -0.1rem;
  border-width: 100px 200px 100px 0;
  border-color: transparent #115173 transparent transparent;
}

.portfolio-wrapper {
  width: 80%;
  margin: 0 auto;
  box-shadow: 11px 4px 16px -6px rgba(0,0,0,0.75);
}

.portfolio-title,
.portfolio-subtitle {
  // color: #fff;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.portfolio-subtitle {
  margin-bottom: 2rem;
}

.portfolio--heading {
  margin: 10px 0;
}

.portfolio--heading p:first-child {
  font-size: 3rem;
}

.portfolio--heading p {
  font-size: 2rem;
  line-height: 4rem;
}

.projects-list {
  background-color: #fff;
  box-shadow: none;
  // background-color: #022c43;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23022c43' fill-opacity='0.28' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.projects-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  grid-gap: 2rem;
  width: 80%;
  margin: auto;
}

.project-item {
  width: 100%;
  padding: 1rem;
  background: #fff;
}

h1.block-title {
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
  width: 100%;
  background: #fff;
  display: block;
}

.projects-list h2 {
  font-size: 3rem;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 4px solid #022c43;
}

.footer {
  border-bottom: none;
}

.footer h2 {
  font-size: 3rem;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  list-style: none;
}

@media (max-width: 600px) and (max-device-width: 600px) {
  .projects-items {
    grid-template-columns: 1fr;
  }
}
